.conteiner {
    padding: 0 0px;
    width: 722px;
    height: 1000px;
    top: 24px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #c7c5c5;
    border-radius: 5px 5px 5px 5px;
}

.conteiner-head {
    width: 719px;
    height: 62px;
    background: #F7F7F7;
    display: flex;
    position: absolute;
    border-bottom: 1px solid #c7c5c5;



}

.conteiner-user__name {
    width: 200px;
    height: 37px;
    margin: 14px 0px 0px 20px;
}

.conteiner-head__btn__cancel button{

    width: 100px;
    height: 37px;
    margin-top: 14px;
    margin-left: 250px;
    background: #6B747D;
    border-radius: 5px 0px 0px 5px;
    color: #fff;
}

.conteiner-head__btn__save button{
    width: 100px;
    height: 37px;
    margin-top: 14px;
    margin-left: 0px;
    background: #00A850;
    border-radius: 0px 5px 5px 0px;
    color: #fff;
}

.conteiner-photo {
    width: 720px;
    height: 180px;
    text-align: center;
    vertical-align: middle;
    margin-top: 62px;
    position: absolute;


}

.conteiner-photo__user {
    text-align: center;
    vertical-align: middle;
    margin-top: 5px;
    font-size: 10px
}

.conteiner-email {
    width: 720px;
    height: 62px;
    margin-top: 191px;
    background: #F7F7F7;
    position: absolute;
    border-top: 1px solid #c7c5c5;
    border-bottom: 1px solid #c7c5c5;
}

.conteiner-email__email {
    color: blue;
    font-size: 1.2rem;
    text-align: center;
    vertical-align: middle;
    margin-top: 15px;

}

.conteiner-job {
    width: 721px;
    height: 212px;
    margin-top: 252px;
    text-align: right;
    position: absolute;

}

.conteiner-job_form {
    width: 720px;
    height: 160px;
    margin-top: 30px;
    float: right;
    margin-right: 20px;
    font-size: 20px;
    word-spacing: 20px;

}

.conteiner-job_form input {
    width: 435px;
    height: 35px;
    border-radius: 5px 5px 5px 5px;
    font-size: 15px;
    border: 1px solid #c7c5c5;

}

.conteiner-contact_c {
    width: 719px;
    height: 62px;
    margin-top: 463px;
    background: #F7F7F7;
    border-top: 1px solid #c7c5c5;
    border-bottom: 1px solid #c7c5c5;
    position: absolute;
}

.conteiner-contact_con {
    width: 200px;
    height: 37px;
    margin: 14px 0px 0px 20px;
}

.conteiner-contact {
    width: 721px;
    height: 212px;
    margin-top: 526px;
    text-align: right;
    position: absolute;
    font-size: 20px;



}


.conteiner-contact__form {
    width: 720px;
    height: 160px;
    margin-top: 10px;
    float: right;
    margin-right: 20px;
    word-spacing: 20px;



}

.conteiner-contact__form input {
    word-spacing: 20px;
    width: 350px;
    height: 35px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #c7c5c5;
    font-size: 15px;
}

.conteiner-adres {
    width: 719px;
    height: 62px;
    margin-top: 748px;
    background: #F7F7F7;
    border-top: 1px solid #c7c5c5;
    border-bottom: 1px solid #c7c5c5;
    position: absolute;
}

.conteiner-adres_user {
    width: 200px;
    height: 37px;
    margin: 14px 0px 0px 20px;
}

.conteiner-adres_comblod {
    width: 721px;
    height: 212px;
    margin-top: 62px;
    text-align: right;
    position: absolute;
    font-size: 20px;
}

.conteiner-adres_coutry {
    width: 720px;
    height: 160px;
    margin-top: 0px;
    float: right;
    margin-right: 20px;
    word-spacing: 20px;

}

.conteiner-adres_coutry input {
    width: 435px;
    height: 35px;
    border-radius: 5px 5px 5px 5px;
    font-size: 15px;
    border: 1px solid #c7c5c5;
}

.conteiner-contact button {
    background-color: #00A850;
    color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #000;
    
}